#kvittering{
    position: absolute;
    opacity: 1;
    left: 62%;
    top: 15%;
}
.bestil{
    font-size: 40px:
}
#bestilling{
    width: 48%;
}

body{
    background-image: url(kino.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}